# Entornos virtuales
.venv/
venv/
env/
__pycache__/
*.pyc

# Archivos de sistema
.DS_Store

# Archivos de configuración local
aws_config.json

# Compilados
dist/
producto/main
build/
*.spec
